body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 2em;
}
a {
  color: #009999;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 2em;
}
#content {
  width: 1100px;
  margin: 60px auto;
}
#photo {
  float: left;
  margin-right: 40px;
}
p, ul {
  margin-top: 40px;
}
li {
  float: left;
  margin-right: 20px;
}
